/* --------------------------- FOOTER --------------------------- */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-item {
    margin: 10px;
    flex: 1 1 30%;
}

.footer-item h3 {
    margin-bottom: 10px;
}

.footer-item a {
    color: #fff;
    text-decoration: none;
}

.footer-item a:hover {
    color: #FFD700;
}

.footer-item ul {
    list-style-type: none;
    padding: 0;
}

.footer-item li {
    margin: 5px 0;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 14px;
}

@media screen and (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: left;
    }
    .footer-item {
        flex: 1 1 100%;
    }
}